ES2/
herc-works-mdk-main/
*.zip
tools/*
!tools/ghidra_scripts
Herculan/tests/HercWorks.Vol.Tests/obj/
Herculan/tests/HercWorks.Vol.Tests/bin/
Herculan/src/HercWorks.Vol/obj/
Herculan/src/HercWorks.UI/obj/
Herculan/src/HercWorks.UI/bin/
Herculan/.vs/
Herculan/src/HercWorks.Vol/bin/
Herculan/src/HercWorks.Core/obj/
Herculan/src/HercWorks.Core/bin/
Herculan/src/Herculan.Engine/obj/
Herculan/src/Herculan.Engine/bin/
Herculan/src/Herculan.Engine.Host/obj/
Herculan/src/Herculan.Engine.Host/bin/
convert_dts-master/
Earthsiege2Setup/
Screenshots/
*.pdf
*.iso
